PROJECT_NAME="SurakshaAI"
API_V1_STR="/api/v1"
SECRET_KEY="supersecretkey-change-me-in-production"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=10080
BACKEND_CORS_ORIGINS="http://localhost:5173,http://localhost:3000"

# MongoDB Database
MONGODB_URI="mongodb+srv://user:pass@cluster.mongodb.net/"
MONGODB_DB_NAME="suraksha_ai"

GEMINI_API_KEY="YOUR_GEMINI_API_KEY_HERE"
